# PostgreSQL backend для MLflow tracking metadata
POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=<POSTGRES_PORT>
POSTGRES_DB=<POSTGRES_DB>
POSTGRES_AUTH_DB=<POSTGRES_AUTH_DB>
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>

# S3-хранилище артефактов MLflow
MLFLOW_BUCKET_NAME=<MLFLOW_BUCKET_NAME>
MLFLOW_S3_ENDPOINT_URL=<MLFLOW_S3_ENDPOINT_URL>
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_DEFAULT_REGION=<AWS_DEFAULT_REGION>
